<mat-sidenav-container class="full-container" (backdropClick)="close(sidenav)">
  <mat-sidenav #sidenav class="drawer">
    <mat-nav-list>
      <app-menu (close)="sidenav.close()" [loggedIn]="loggedIn"></app-menu>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button *ngIf="loggedIn" mat-icon-button (click)="sidenav.open()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Biztos kocsi</span>
    </mat-toolbar>
    <router-outlet/>
  </mat-sidenav-content>
</mat-sidenav-container>
